extend layout

block content

	div.row-fluid
		// breadcrumb
		div
			ul.breadcrumb
				li Collections
		// / breadcrumb
		each collection in collections
			div.item.span5
				a(href='/collections/#{collection.id}')
					div.image
						if (typeof collection.featured_image === 'undefined' || collection.featured_image == null)
							img(src='http://placehold.it/170x170')
						else
							img(src='#{collection.featured_image.url}=s170')
					div.info
						p #{collection.title}
						p Number of products: #{collection.num_of_products}
					div.clear