extend layout

block content
  p 
    | This application was implemented using the following technologies:
  ul
    li  
      a(href="http://www.sellmate.com") Sellmate REST API
    li
      a(href="http://nodejs.org") node.js
    li
      a(href="http://expressjs.com")  express
    li
      a(href="http://jade-lang.com/") jade
    li
      a(href="http://learnboost.github.com/stylus/") stylus