extend layout

block content

    div.alert.alert-info 
        | This is a Demo App used as an example for the Sellmate REST API. It connects with the resources of your
        | shop (you need to be a Merchant/Developer of Sellmate) using OAuth 2. 
        | Just type a shop namespace that you want to access (you'll get asked to login) and you can show your
        | products and collections. 
    form(action='/', method='post').well.form-search
        label(style='display:block;') Insert the namespace (shop) that you want to access:
        input(type='text', name='shop', placeholder='Namespace / Shop').form-inline
        button(type='submit').btn Connect
        if (shop != '')
            div.connect.on Connected with the shop: #{shop}
        else
            div.connect.off You are not connected to any shop now.

    div.alert.alert-block
        | Visit the 
        a(href='https://github.com/emmenko/sellmate-demo-node') Github project page
        |  for more info

    blockquote
        p 
            i This application was implemented using the following technologies:
        ul
            li  
                a(href="http://www.sellmate.com") Sellmate REST API
            li
                a(href="http://nodejs.org") node.js 
                    i (v0.6.19)
            li
                a(href="http://expressjs.com")  express 
                    i (v2.5.x)
            li
                a(href="http://jade-lang.com/") jade 
                    i (v0.26.x)
            li
                a(href="http://learnboost.github.com/stylus/") stylus 
                    i (v0.27.x) 
            li
                a(href="http://visionmedia.github.com/nib/") nib 
                    i (v0.5.x)
            li
                a(href="https://github.com/emmenko/sellmate-utils") sellmate-utils 
                    i (v0.1.x) 