!!!5
html
  head
    title Sellmate Demo App
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/javascripts/Bootstrap/2.0.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='/javascripts/Bootstrap/2.0.4/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/javascripts/jQueryLightbox/css/jquery.lightbox-0.5.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='/javascripts/jQueryLightbox/js/jquery.lightbox-0.5.min.js')
    script(type='text/javascript', src='/javascripts/helpers.js')
  body
    header.nav-inner
      h1 Sellmate Demo App
    nav
      ul
        li
          if (currentURL == '/')
            a(href='/').active Home
          else
            a(href='/') Home
        li
          if (currentURL.match(/^\/products/g))
            a(href='/products').active Products
          else
            a(href='/products') Products
        li
          if (currentURL.match(/^\/collections/g))
            a(href='/collections').active Collections
          else
            a(href='/collections') Collections
    .container
      .main-content
        block content
    footer
      p Hosted on <a href="http://nodester.com">nodester</a>, an Node.JS™ Open Source Hosting Platform-as-a-Service.