/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
/*
 * Nib provides a CSS reset
 */
/*
 * Store the main color and
 * background color as variables
 */
a {
  color: #4d4d4d;
  cursor: pointer;
}
.clear {
  clear: both;
}
body {
  font-family: 'Trebuchet MS', 'Helvetica New', Helvetica, Arial, sans-serif;
}
header {
  padding: 40px 10px;
  color: #fff;
  font-size: 25px;
  text-align: center;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
}
header.nav-inner {
  padding: auto 20px;
  background-color: #1996d3;
  background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1996d3), color-stop(1, #1996d3));
  background-color: -webkit-linear-gradient(top, #1996d3 0%, #1996d3 100%);
  background-color: -moz-linear-gradient(top, #1996d3 0%, #1996d3 100%);
  background-color: -o-linear-gradient(top, #1996d3 0%, #1996d3 100%);
  background-color: -ms-linear-gradient(top, #1996d3 0%, #1996d3 100%);
  background-color: linear-gradient(top, #1996d3 0%, #1996d3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorstr=#1996d3, EndColorstr=#1996d3, GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25), inset 0 -1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.25), inset 0 -1px 0 rgba(0,0,0,0.1);
  border-bottom: 1px solid #fff;
}
nav {
  width: 600px;
  margin: auto;
  overflow: hidden;
}
nav ul {
  text-align: left;
  border-bottom: 1px solid #ccc;
  list-style: disc;
  padding: 10px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  border: 1px solid #ccc;
  text-decoration: none;
  padding: 10px 20px;
  border-bottom: none;
  margin-right: 5px;
  margin-bottom: 1px;
}
nav ul li a.active,
nav ul li a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #1996d3;
}
.container {
  width: 600px;
  margin: 20px auto 50px;
  overflow: hidden;
}
.main-content p {
  margin-bottom: 20px;
}
.main-content blockquote p {
  font-size: 13px;
}
.main-content blockquote li i {
  color: #aaa;
}
form .connect {
  text-align: center;
  margin-top: 20px;
}
form .connect.on {
  color: #a7d04e;
}
form .connect.off {
  color: #fa5b4d;
}
.item {
  display: inline-block;
  padding: 10px;
  border: 1px solid #eee;
  margin: 10px;
a
}
.item a:hover {
  text-decoration: none;
  color: inherit;
}
.item .image {
  display: block;
  min-height: 150px;
  max-height: 150px;
}
.item .info {
  display: block;
  padding: 10px 5px;
}
.item .info p {
  font-size: 0.9em;
  margin: 0;
}
.item .info p.right {
  text-align: right;
}
.breadcrumb a {
  text-decoration: underline;
}
.gallery {
  position: relative;
}
.gallery > ul {
  list-style: none;
  padding: 0 13px;
}
.gallery > ul > li {
  display: inline-block;
}
.span5 .price {
  margin: 20px 0;
  text-align: right;
  font-size: 12px;
}
.span5 .price b {
  font-size: 20px;
}
.span5 .price .tax {
  font-size: 12px;
  color: #6d6d6d;
  font-style: italic;
}
.span5 .variants {
  margin: 20px 0;
  text-align: right;
}
.span5 .line-divider {
  border-bottom: 1px solid #eee;
  padding-top: 10px;
}
.span5 .description {
  margin: 20px 0;
}
p {
  line-height: 1.8;
}
footer {
  width: 600px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
}
