/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
//@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
//global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #4d4d4d
bkg-color = #1996d3

a
  color main-color
  cursor pointer

.clear
  clear both

body
  font-family 'Trebuchet MS', 'Helvetica New', Helvetica, Arial, sans-serif

header
  padding 40px 10px
  color #fff
  font-size 25px
  text-align center

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  //background-color main-color
  //border-bottom 1px solid darken(main-color, 30%)
  //text-shadow 0px -1px 0px darken(main-color, 30%)

header.nav-inner
    padding auto 20px
    background-color bkg-color
    background-color linear-gradient(top, bkg-color, bkg-color)
    background-repeat repeat-x
    filter 'progid:DXImageTransform.Microsoft.Gradient(StartColorstr=%s, EndColorstr=%s, GradientType=0)' % (#1996d3 #1996d3)
    box-shadow 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1) 
    border-bottom 1px solid #fff

nav
  width 600px
  margin auto
  overflow hidden
  ul
    text-align left
    border-bottom 1px solid #ccc
    list-style disc
    padding 10px
    margin 0 0 10px 0
    li
      display inline
      a
        border 1px solid #ccc
        text-decoration none
        padding 10px 20px
        border-bottom none
        margin-right 5px
        margin-bottom 1px
      a.active
      a:hover
        color #fff
        text-decoration none
        background-color bkg-color

.container
  width 600px
  margin 20px auto 50px
  overflow hidden

.main-content 
  p
    margin-bottom 20px
  blockquote 
    p
      font-size 13px
    li i
      color #aaa

form
  .connect
    text-align center
    margin-top 20px
  .connect.on
    color #A7D04E
  .connect.off
    color #FA5B4D


.item
  display inline-block
  padding 10px
  border 1px solid #EEE
  margin 10px 8px
  min-height 160px
  max-height 160px
  a 
  a:hover
    text-decoration none
    color inherit
  .image 
    display block
    min-height 150px
    max-height 150px
  .info 
    display block
    padding 10px 5px
  .info p
    font-size .9em
    margin 0
  .info p.right
    text-align right


// Product detail page

.breadcrumb a
  text-decoration underline

.gallery
  position relative
  > ul 
    list-style none 
    padding 0 13px
    > li 
      display inline-block

.span5 
  .price
    margin 20px 0
    text-align right
    font-size 12px
    b
      font-size 20px
    .tax
      font-size 12px 
      color #6D6D6D
      font-style italic
  .variants
    margin 20px 0
    text-align right
  .line-divider
    border-bottom 1px solid #EEE
    padding-top 10px
  .description
    margin 20px 0

p
  line-height 1.8

footer
  width 600px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px